extends layout
block content
  div.event-container
    div.event-name this is the name of the event right here
    div.event-description this is the name of the event right here
    div.event-location asdfasdf