extends layout
block content
  div.event-week-label events happening this week
  div.event-container
    div(style='float:left;width:200px;padding-top:20px;margin-left:20px')
      div(style='font-size:24pt;font-family:helvetica;font-weight:bold;color:#555555') Tue
      div(style='font-size:14pt;font-family:helvetica;font-weight:bold;color:#555555') Oct 31

    div(style='float:left')
      div.event-name this is the name of the event right here
      div.event-description This is the big ole description that tells them what this event is.  There will be a lot of text here that describes the event.
      div.event-location Techwood
      div.event-datetime October 31, 2012  8:00 PM
  div.event-week-label next week
  div.event-week-label future