extends layout
block content
  div(style='margin-top:0px;width:150px;margin-right:40px;float:left;background-color: rgba(0,0,0,0.1);height:100%;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius:8px')
    a(href='')#lnkAddNewEvent.link add a new event?
    div
      span.tag tag 1
    div
      span.tag tag 2
    div tag 3
    div tag 4
  div(style='width:80%;float:left')#eventsContainer
    div.event-week-label events happening this week
    div#eventsThisWeekContainer
    div.event-week-label events occuring next week
    div#eventsNextWeekContainer
    div.event-week-label future events
    div#eventsFutureContainer
  div.large-dialog-box#dlgEditEvent here

