doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(NAME='ROBOTS', CONTENT='NOINDEX, NOFOLLOW')  
  body
    block content

  script(src="javascripts/jquery-1.8.0.min.js", type="application/javascript")
  script(src="javascripts/moment-min.js", type="application/javascript")
  script(src="javascripts/underscore_1_3_3.js", type="application/javascript")
  script(src="javascripts/app.js", type="application/javascript")