form(method="post", action="/twil/events")
	label From:
	select(name="From")
		option(value="+16782965004") +16782965004
	br
	label To:
	input(type="text", name="To", value="+16782562457")
	br
	label Body:
	input(type="text", name="Body")
	br

	input(type="submit", value="go")