html{height: 100%;margin: 0;padding: 0;overflow-y: scroll;}
body{height: 100%;margin: 0;padding: 0;background-color:white;color:black;font-family:'helvetica';font-weight:normal;font-size:8pt;background-image: url('../images/bedge_grunge.png')}
.containerPage{position: relative;min-height: 100%;height: auto !important;height: 100%;}
.container{width:960px;margin: 0px auto 0px auto;}
.nonFooterContent{padding-bottom:175px;}
.footer{clear:both;position: relative;background-color: rgba(0,0,0,0.2);width: 100%;height: 175px;margin-top: -175px;}
/*.footer {clear:both;position: relative;width: 100%;height: 175px;margin-top: -50px;z-index:-3;} */
.footerText{font-family: 'Questrial';font-size: 8pt;line-height: 70%;color:#84827b;font-weight: normal 400;text-decoration: none; } 

.logo-text{float:left;font-size:18pt;margin-left:14px;font-family:Questrial;font-weight:400;margin-bottom:3px;color:#252523}
.event-container{background-color:rgba(0,0,0,0.1);-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;margin-bottom:15px;}
.event-large-day-of-week{font-size:24pt;font-family:helvetica;font-weight:bold;color:#555555}
.event-month-day{font-size:12pt;font-family:helvetica;font-weight:bold;color:#555555;}


.event-name{font-family:'Raleway';font-size:14pt;color:#191919;font-weight:400;padding-top:5px;padding-left:8px;}
.event-name-private{font-family:'Raleway';font-size:8pt;color:#191919;font-weight:700;padding-top:12px;padding-left:12px;}
.event-description{font-family:'Raleway';font-size:10pt;color:#555555;font-weight:400;padding-top:8px;padding-left:8px;padding-bottom:5px;}
.event-datetime{font-family:'Helvetica';font-size:10pt;color:#555555;font-weight:bold;padding-top:5px;padding-left:8px;}
.event-location{font-family:'Helvetica';font-size:10pt;color:#db7910;font-weight:bold;padding-top:5px;padding-left:8px;}
.event-day-of-week-container{float:left;padding-top:20px;padding-left:20px;margin-bottom:20px;}

.event-week-label{font-family:'Cabin';font-size:16pt;color:#555555;font-weight:bold;padding-bottom:20px;}


.message{color:#5d8ea3;font-size:10pt;font-family:'Lato';font-weight:normal;text-decoration:none}
.headerLink{padding-top:6px;padding-left:10px;padding-bottom:5px;padding-right:10px;color:#252523;font-size:10pt;font-family:'Cabin';font-weight:bold;cursor:pointer;text-decoration:none;background-color: rgba(0,0,0,0.15);-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;}
.headerLink:hover{background-color: rgba(72,94,143,0.3);}
.link{color:#252523;font-size:10pt;font-family:'Cabin';font-weight:bold;cursor:pointer;text-decoration:none}
.link:hover{text-decoration:underline;}

.tag{padding:4px;margin:4px;display:inline-block;color:#d7d1d1;font-size:8pt;font-family:'Cabin';font-weight:normal;cursor:pointer;text-decoration:none;background-color: rgba(0,0,0,0.5);-moz-border-radius: 4px;-webkit-border-radius:4px;border-radius:4px;}
.tag:hover{background-color: rgba(72,94,143,0.6);}

.DOM-mask{position:fixed;height:100%;width:100%;background:#000;background:rgba(0,0,0,.6);z-index: 100;top:0;left:a0;}
.large-dialog-box{display:none;position:absolute;height:440px;width:550px;background-color:#ded9cf;-moz-border-radius:14px;-webkit-border-radius:14px;border-radius:14px;z-index:101;}


.formLabel{
	font-family:'helvetica';
	font-size:10pt;
	color:#666666;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:5px;

}

.formLabelGreyedOut{
	font-family:'helvetica';
	font-size:10pt;
	color:#666666;
	font-weight:bold;
	height:13px;
	opacity:.5;
}

.panelHeaderLabel{
	font-family:'helvetica';
	font-size:12pt;
	color:#666666;
	font-weight:bold;
}

.panelSubLabel{
	font-family:'helvetica';
	font-size:10pt;
	color:#666666;
	font-weight:bold;
}

.loginButton 
{  
	width: 320px;  
	height: 40px;  
	line-height: 40px;  
	color: white;  
	text-decoration: none;  
	font-size: 14pt;  
	font-family:'helvetica';
	font-weight: bold;  
	display: block;  
	text-align: center;  
	position: relative;  
	outline: 0;
	background: -moz-linear-gradient(top, #5daedd, #3d8fbe);
	background: -webkit-gradient(linear, left top, left bottom, from(#5daedd), to(#3d8fbe));
	-moz-border-radius: 4px;  
	-webkit-border-radius: 4px;  
	border-radius: 4px;  
	border-width: 1px;
	border-style: solid;
	border-color: #3a83ac; 
 }

.loginButton:hover
{  
	background: -moz-linear-gradient(top, #52a3d2, #2d79a5);
	background: -webkit-gradient(linear, left top, left bottom, from(#52a3d2), to(#2d79a5));
}


.loginTextboxContainer
{
    background-color: #fafafa;
	width:320px;
	height:34px;
	padding:0px;
	margin:0px;
	border-style:solid;
	border-width:1px;
	border-color:#dfe4ea;
	-moz-border-radius: 5px;  
	-webkit-border-radius:5px;
	border-radius: 5px;  
}



.loginErrorLabel
{
	font-family:'helvetica';
	font-weight:bold;
	font-size:14pt;
	color: #ca1016;
}


.loginTextbox
{

	background-color: #fafafa;
	border-width:0px;
	font-family:verdana;
	font-family:'helvetica';
	font-weight:bold;
	font-size:14pt;
	color: #424a56;
	margin:0px;
	padding:0px;
	width:290px;
	height:24px;
	outline:none;
}

.loginTextboxGreyedOut
{

	background-color: #fafafa;
	border-width:0px;
	font-family:verdana;
	font-family:'helvetica';
	font-weight:bold;
	font-size:14pt;
	color: #a8a8a8;
	margin:0px;
	padding:0px;
	width:270px;
	height:24px;
	outline:none;
}

.loginTextboxTextInvisible
{

	background-color: #fafafa;
	border-width:0px;
	font-family:verdana;
	font-family:'helvetica';
	font-weight:bold;
	font-size:14pt;
	color: #fafafa;
	margin:0px;
	padding:0px;
	width:270px;
	height:24px;
	outline:none;
}







/*.event-location{font-family:'Raleway';font-size:12pt;color:#fc7f02;font-weight:400;padding-top:5px;padding-left:8px;}*/

